link(rel='stylesheet', href='/css/datatables.min.css')
script(src='/js/datatables.min.js')
div(class='col-xl-12 col-lg-12')
    div(class='card shadow mb-4')
        div(class='card-header py-3 d-flex flex-row align-items-center justify-content-between')
            h6(class='m-0 font-weight-bold text-primary') Master Data Supplier
        div(class='card-body')
            button(type="button" onclick="insertnewdata()" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalsupplier") Tambah Data
            br
            br
            div(class="table-responsive")
                table(id="datatables_master_data_supplier" style="width:100%")
                    thead
                        tr
                            th Kode Supplier
                            th Nama Supplier
                            th Alamat Supplier
                            th Kota Supplier
                            th NPWP Supplier
                            th Penerimaan Langsung
                            th &nbsp;
                    tbody
                    tfoot  
                        tr
                            th Kode Supplier
                            th Nama Supplier
                            th Alamat Supplier
                            th Kota Supplier
                            th NPWP Supplier
                            th Penerimaan Langsung
                            th &nbsp;

//- Modal Show
div(id="modalsupplier" class="modal fade" role="dialog")
    div(class="modal-dialog modal-lg")
        div(class="modal-content")
            div(class="modal-header")
                h4(class="modal-title" id="modalsuppliertitle")
                button(type="button" class="close" data-dismiss="modal") &times;
            div(class="modal-body")
                div(id="modalsupplierhere" class="col-md-12")

script(type='text/javascript').
    $(document).ready(function() {
        $('#datatables_master_data_supplier').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax"      : "#{host}/backend/supplier/data",
            "columnDefs": [{
              "targets": 6,
              "orderable": false,
              "searchable": false 
            }]
        });
    } );
    function editsupplier(id){
        $('#modalsuppliertitle').html("Edit Data Supplier")
        $('#modalsupplierhere').html('Loading Data..')
        $.ajax({
            url: "#{base_url}/backend/supplier/view?id="+id,
            contentType: false,
            cache: true,
            processData: false,
            success: function(data) {
                $('#modalsupplierhere').html(`
                    <form action="#{base_url}/backend/supplier/update?id=`+id+`" method="POST">
                        <input type="hidden" name="_csrf" value="#{csrfToken}">
                        <div class="form-group">
                            <div class="row" style="margin-bottom: 2vh">
                                <div class="col-md-3">
                                    <label>Kode Supplier</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" value="`+data.k1+`" class="form-control" name="result[k1]" placeholder="Masukan Kode Supplier" required>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 2vh">
                                <div class="col-md-3">
                                    <label>Nama Supplier</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" value="`+data.k2+`" class="form-control" name="result[k2]" placeholder="Masukan Nama Supplier" required>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 2vh">
                                <div class="col-md-3">
                                    <label>Alamat Supplier</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" value="`+data.k3+`" class="form-control" name="result[k3]" placeholder="Masukan Alamat Supplier" required>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 2vh">
                                <div class="col-md-3">
                                    <label>Kota Supplier</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" value="`+data.k4+`" class="form-control" name="result[k4]" placeholder="Masukan Kota Supplier" required>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 2vh">
                                <div class="col-md-3">
                                    <label>NPWP Supplier</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" value="`+data.k5+`" class="form-control" name="result[k5]" placeholder="Masukan Telepon Supplier" required>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 2vh">
                                <div class="col-md-3">
                                    <label>Penerimaan Langsung</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control" name="result[k6]" required>
                                        <option value="`+data.k6+`">`+data.k6+`</option>
                                        <option value="Ya">Ya</option>
                                        <option value="Tidak">Tidak</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input id="submit_form" class="btn btn-primary btn-sm" type="submit" value="Perbarui Data">
                        </div>
                    </form>
                `)
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $('#modalsupplierhere').html("<p class='ajaxloadingdata'>Error Catching Data</p>");
                $("#catching_error").html(XMLHttpRequest.responseText); 
                if (XMLHttpRequest.status == 0) {
                alert(' Check Your Network.');
                } else if (XMLHttpRequest.status == 404) {
                alert('Requested URL not found.');
                } else if (XMLHttpRequest.status == 500) {
                alert('Internel Server Error.');
                }  else {
                alert('Unknow Error.\n' + XMLHttpRequest.responseText);
                } 
            }
        });
    }
    function hapussupplier(id){
        var check = confirm("Anda Yakin Akan Menghapus Data?");
        if (check == true) {
            window.location = "#{base_url}/backend/supplier/delete?id="+id;
        }
        else {
            return false;
        }
    }
    function insertnewdata(){
        $('#modalsuppliertitle').html("Tambah Data Supplier")
        $('#modalsupplierhere').html('Loading Data..')
        $('#modalsupplierhere').html(`
            <form action="#{base_url}/backend/supplier/create" method="POST">
                <input type="hidden" name="_csrf" value="#{csrfToken}">
                <div class="form-group">
                    <div class="row" style="margin-bottom: 2vh">
                        <div class="col-md-3">
                            <label>Kode Supplier</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="result[k1]" placeholder="Masukan Kode Supplier" required>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 2vh">
                        <div class="col-md-3">
                            <label>Nama Supplier</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="result[k2]" placeholder="Masukan Nama Supplier" required>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 2vh">
                        <div class="col-md-3">
                            <label>Alamat Supplier</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="result[k3]" placeholder="Masukan Alamat Supplier" required>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 2vh">
                        <div class="col-md-3">
                            <label>Kota Supplier</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="result[k4]" placeholder="Masukan Kota Supplier" required>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 2vh">
                        <div class="col-md-3">
                            <label>NPWP Supplier</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="result[k5]" placeholder="Masukan Telepon Supplier" required>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 2vh">
                        <div class="col-md-3">
                            <label>Penerimaan Langsung</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" name="result[k6]" required>
                                <option value="Ya">Ya</option>
                                <option value="Tidak">Tidak</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input id="submit_form" class="btn btn-primary btn-sm" type="submit" value="Tambah Data">
                </div>
            </form>
        `)
    }