div(class='container-fluid')
    div(class='row')
        div(class='col-lg-12')
            div(class='card shadow mb-4')
                div(class='card-header py-3')
                    h6(class='m-0 font-weight-bold text-primary') Pengaturan Harga Jual
                div(class='card-body')
                    div(class='form-group')
                        form(action=`${base_url}/backend/setting?_method=PUT` method="post")
                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                            input(type="hidden" name="result[k0]" value="setting")
                            input(type="hidden" name="result[k1]" value=`${data.k1}`)
                            input(type="hidden" name="result[k2]" value=`${data.k2}`)
                            input(type="hidden" name="result[k3]" value=`${data.k3}`)
                            input(type="hidden" name="result[k4]" value=`${data.k4}`)
                            div(class='col-md-6')
                                div(class='row' style="margin-bottom: 2vh")
                                    div(class='col-md-6')
                                        label Aktifkan Harga Jual
                                    div(class='col-md-6')
                                        select(name='result[k5]' class='form-control')
                                            option(value=`${data.k5}`) #{data.k5}
                                            option(value='Ya') Ya
                                            option(value='Tidak') Tidak
                                div(class='row' style="margin-bottom: 2vh")
                                    div(class='col-md-6')
                                        label Pengaturan PPN (%)
                                    div(class='col-md-6')
                                        input(type="text" value=`${data.k6}` name='result[k6]' class='form-control')
                                div(class='row' style="margin-bottom: 2vh")
                                    div(class='col-md-6')
                                        label Persentase Penjualan (%)
                                    div(class='col-md-6')
                                        input(type="text" value=`${data.k7}` name='result[k7]' class='form-control')
                                div(class='row' style="margin-bottom: 2vh")
                                    input(type="submit" value="Perbarui" class="btn btn-primary btn-sm")